*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: rgb(92, 166, 190);
    overflow: hidden;
}

/* cloud */
.cloud{
    width: 200px;
    height: 65px;
    background-color: #fff;
    border-radius: 50px;
    position: absolute;
    top: 70px;
    left: 100px;
    animation-name: cloud;
    animation-duration: 14s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes cloud{
    0%{
        left: -200px;
    }
    100%{
        left: 100%;
    }
}

.cloud::before{
    content: "";
    width: 65px;
    height: 65px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    left: 30px;
}

.cloud::after{
    content: "";
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    left: 85px;
}

.cloud2{
    top: 190px;
    left: 80%;
    animation-name: cloud2;
}

@keyframes cloud2{
    0%{
        left: 100%;
    }
    100%{
        left: -200px;
    }
}

/* mountain */
.mountain{
    width: 420px;
    height: 420px;
    background-color: rgb(19, 88, 156);
    transform: rotate(45deg);
    position: absolute;
    bottom: -210px;
    left: 35%;
}

.mountain::before{
    content: "";
    width: 420px;
    height: 420px;
    background-color: rgb(42, 101, 160);
    position: absolute;
    top: -410px;
    left: 360px;
}

.mountain::after{
    content: "";
    width: 420px;
    height: 420px;
    background-color: rgb(48, 101, 155);
    position: absolute;
    top: 400px;
    left: -400px;
}

/* sun */
.sun{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: gold;
    position: absolute;
    bottom: -100px;
    left: 27%;
    animation: sun 15s linear 1s infinite alternate;
    z-index: -1;
}

@keyframes sun{
    0%{
        bottom: -100px;
        background-color: gold;
    }
    40%{
        background-color: yellow;
        box-shadow: 0 0 80px 0 yellow;
    }
    100%{
        bottom: 80%;
        background-color: rgb(230, 230, 18);
        box-shadow: 0 0 120px 0 yellow;
    }
}
